.tw-followCard {
  display: flex;
  align-items: center;
  color: #fff;
  font-size: .8rem;
  justify-content: space-between;
  margin-bottom: 8px;
}

.tw-followCard-header {
  display: flex;
  align-items: center;
  gap: 4px;
}

.tw-followCard-info {
  display: flex;
  flex-direction: column;
}

.tw-followCard-infoUserName {
  opacity: .6;
}

.tw-followCard-avatar {
  width: 48px;
  height: 48px;
  border-radius: 1000px;
}

.tw-followCard-button {
  cursor: pointer;
  margin-left: 16px;
  border: 0;
  border-radius: 999px;
  padding: 6px 16px;
  font-weight: bold;
  border: 1px solid #000;
  transition: .3 ease background-color;
}

.tw-followCard-button:hover {
  opacity: .8;
}

.tw-followCard-text {
  display: block;
}

.tw-followCard-button.is-following {
  border: 1px solid #bbb;
  background: transparent;
  color: #fff;
  width: 140px;
}

.tw-followCard-button.is-following:hover {
  background-color: rgb(255, 102, 102, 0.178);
  color: red;
  border: 1px solid red
  transition: .3 ease all;
  opacity: 1;
}

.tw-followCard-button.is-following:hover .tw-followCard-text {
  display: none;
}

.tw-followCard-button.is-following:hover .tw-followCard-stopFollow {
  display: block;
}

.tw-followCard-stopFollow {
  display: none;
}

/* Twitter trend card CSS */
.tw-trendCard {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

.tw-trendCard header {
  font-size: .8rem;
  color: rgb(113, 118, 123);
}

.tw-trendCard-content {
  color: #fff;
  font-weight: 700;
  font-size: 1rem;
}

.tw-trendCard footer {
  font-size: .8rem;
  color: rgb(113, 118, 123);
  margin-top: .3rem;
}
