body {
  margin: 0;
  background: #222;
  font-family: system-ui;
  display: grid;
  place-content: center;
  min-height: 100vh;
}

h3 {
  color: #fff;
}

.App {
  display: flex;
  gap: 50px;
}

.App.follow-list {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.App.trend-list {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
